@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	--yellow-500: #ecc30b;
	--orange-400: #f37748;
	--coral-700: #d56062;
	--black: #000000;
	--white: #ffffff;
	--gray-100: #f5f5f5;
	--wrong: #b30003;
	--correct: #008000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Krub", sans-serif;
	background-color: var(--yellow-500);
	color: var(--black);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
}

.container {
	width: 90%;
	max-width: 800px;
	min-height: 550px;
	margin: auto;
	padding: 15px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background-color: var(--white);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	border-radius: 10px;
	border: 2px solid var(--orange-400);
	text-align: center;
}

.container h1 {
	font-family: "Krona One", sans-serif;
	margin: 1.2rem auto;
	font-size: clamp(1.8rem, 0.3rem + 4vw, 2.3rem);
	color: var(--black);
}

.container > .description {
	font-size: clamp(0.5rem, 4vw, 1rem);
	margin-bottom: 1.2rem;
	padding: 0.2px 1rem;
	max-width: 600px;
}

.form {
	width: 96%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2.5rem;
	gap: 0.8rem;
}

.guessField {
	width: 100%;
	padding: 1rem 0.5rem;
	margin-top: 1rem;

	font-size: 1rem;
	text-align: center;
	color: var(--coral-700);

	box-shadow: 1px 1px 15px inset rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 9px;
}

.guessField:focus {
	outline: none;
	border-color: var(--orange-400);
	box-shadow: 0 0 5px var(--orange-400);
}

.guessSubmit {
	width: 70%;
	padding: 0.7rem 1rem;

	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	text-wrap: wrap;
	color: var(--white);
	background-color: var(--coral-700);
	border: none;
	border-radius: 9px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.guessSubmit:hover {
	background-color: var(--orange-400);
}

.results {
	width: 96%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	border-top: 2px solid var(--orange-400);
	padding-top: 1rem;
}

.lastChoice {
	font-weight: 600;
	font-size: clamp(2rem, 5vw, 5rem);
	text-transform: uppercase;
}

.incorrect {
	color: var(--wrong);
}

.correct {
	color: var(--correct);
}

.lowOrHigh {
	font-size: clamp(1rem, 0.5rem + 1vw, 2rem);
	font-weight: 500;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 0.5rem;
	color: var(--black);
}

.previousChoices {
	font-size: clamp(0.8rem, 0.5rem + 0.5vw, 1.5rem);
	color: var(--black);
}

.resetButton {
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;

	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	text-wrap: wrap;
	color: var(--white);
	background: var(--orange-400);
	border: none;
	border-radius: 9px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.resetButton:hover {
	background-color: var(--coral-700);
}

.footer {
	width: 100%;
	background-color: var(--coral-700);
	color: var(--white);
	text-align: center;
	padding: 1rem 0;
	font-size: 0.9rem;
}

.footer a {
	color: var(--white);
	text-decoration: none;
	font-weight: bold;
}

.footer a:hover {
	text-decoration: underline;
	color: var(--yellow-500);
}

/* ========================== Media Queries Config ========================== */

@media (min-width: 600px) {
	.container h1 {
		margin-bottom: 2rem;
	}

	.form {
		padding: 1.2rem 0;
		margin-top: 1rem;

		flex-direction: row;
		justify-content: center;
		align-content: center;
		gap: 1rem;
	}

	.guessField {
		width: 55%;
		margin: 0;
		padding: 1rem;
		text-align: left;
	}

	.guessSubmit {
		width: 30%;
		padding: 1rem 0.3rem;
	}

	.results {
		width: 100%;
		min-height: 120px;
	}

	.lastChoice {
		font-size: clamp(2rem, 7vw, 4rem);
		margin-bottom: 1rem;
	}
	.lowOrHigh {
		margin-bottom: 1rem;
	}
}
